* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.service_banner_image {
  /* background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url(../images/services_banner.jpg); */
  transition: all 0.5s linear;
  overflow: hidden;
  height: 60vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.service_banner_bg {
  height: 70%;
  width: 70%;
}
.service_banner_image:hover img {
  transform: scale(1.2);
}
.service_banner_card_image:hover {
  transform: translateY(-10px);
}
.service_banner_card_image {
  transition: all 0.5s linear;
  height: 120px;
  width: 95%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: auto;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 1px 28px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 28px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 28px 3px rgba(0, 0, 0, 0.75);
}
.service_banner_card_image img {
  height: 100%;
  width: 100%;

  transition: all 0.5s linear;
}
.service_banner_card_image:hover img {
  transform: scale(1.2);
}
.service_banner_card_image_overlay {
  position: absolute;
  height: 35px;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.service_banner_card_image_overlay p {
  font-size: 14px;
  color: #fff;
  line-height: 35px;
}

.sevice_banner_left_text h2 {
  font-size: 45px;
  font-weight: 800;
  color: #1b191a;

  text-transform: uppercase;
  letter-spacing: 1px;
}
.hidden_content {
  display: none;
  text-align: center;
}
.hidden_content p {
  color: #fff;
}
@media (max-width: 575px) {
  .service_banner_image {
    /* background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.5) 50%
      ),
      url(../images/services_banner.jpg); */
    height: 55vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
  }
  .service_banner_card_image {
    display: none;
  }
  .hidden_content {
    display: none;
    text-align: center;
  }
  .sevice_banner_left_text h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
}
