/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */





/* @import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Josefin+Sans&family=Mulish&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  margin: 0;
  /* font-family: 'Mulish', sans-serif; */
  font-family: 'Raleway', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: 'Muli', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* *{
  margin: 0;
  padding: 0;
  outline: 0;
} */
::selection{
  background-color: #000;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* all button css start */
.all-button {
  display: inline-block;

}
.rec-dot {
   display: none !important;
 }
.all-button .dm {
  height: 45px !important;
  width: 150px !important;
  line-height: 26px !important;
  border-radius: 30px !important;
}
.all-button:hover .home_btn_icon{
  margin-left: 10px !important;
}
.home_btn_icon{
  margin-left: 0px !important;
    transition: all .5s linear;
}
.all-button a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  background-color:  #FF6347 ;
  /* background-image: linear-gradient(
    to top,
    #012534,
    #003a50,
    #00506f,
    #02668f,
    #0b7eb0
  ); */
  color: #fff;
  display: block;
  border-radius: 4px;
  font-size: 14px;
  height: 52px;
  width: 170px;
  line-height: 52px;
  /* padding: 8px 35px; */
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 1px 8px 32px -10px rgba(148, 146, 148, 1);
  -moz-box-shadow: 1px 8px 32px -10px rgba(148, 146, 148, 1);
  /* box-shadow: 1px 8px 32px -10px rgba(148, 146, 148, 1); */

}
.all_button a:hover{
  color: #ee0c81;
  background-color: #fff;
}
.all_header h1 {
  font-size: 65px;
  font-weight: bolder;
  color: #484848;
}
/* nav start */
.custom_nav img {
  height: 40px;
  width: 180px;
}
#mynav ul li.nav_active a {
  color: tomato !important;
  font-weight: 700 !important;
}
.navbar-toggler-icon i {
  color: #012534 !important;
  font-size: 25px;
}
.custom_nav {
  background-color: #fff !important;
  width: 100%;
  padding: 10px 0px;
  transition: all 0.7s linear;
  z-index: 999;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99 !important;
  border-bottom: 1px solid tomato !important;
  padding: 0px !important;
  /* overflow: hidden; */
  transition: all 0.7s linear;
  background-color:#1B191A !important;

}
/* .sticky::after {
  position: absolute;
  bottom: -15px;
  content: '';
  border-top: 15px solid #012534;

  border-left: 15px solid #012534;
  border-right: 15px solid tomato;
  border-bottom: 15px solid tomato;
  z-index: 1 !important;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
} */
.sticky #mynav ul li a {
  color: #fff !important;
  transition: all 0.5s all;
  padding: 20px 0px !important;
}
.sticky #mynav ul li:hover a {
  color: tomato !important;
  letter-spacing: 2px !important;
}
.sticky #mynav ul li.nav_active a {
  color: tomato !important;
  font-weight: 700 !important;
}
.sticky #mynav ul :hover ::after {
  left: 0;
  background-color: tomato !important;
}
.sticky .navbar-toggler-icon i {
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}
#mynav ul li a {
  color: #484848 !important;
  letter-spacing: 1px;
  font-weight: 400;
  transition: all 0.5s linear;
  padding: 20px 0px !important;
  text-transform: uppercase;
}
#mynav ul li:hover a {
  color: tomato !important;
  letter-spacing: 2px !important;
}
#mynav ul li {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0px 16px;
}
.sticky ul li {
  margin: 0px 10px !important;
  transition: 0.7s all linear;
}
#mynav ul li ::after {
  position: absolute;
  content: '';
  transition: all 0.3s linear;
  left: 0;
  transform: scale(0);
  bottom: 0;
  height: 2px;
  width: 100%;
  /* background-color: #012534; */
  background-color: tomato;
  z-index: -1;
}
#mynav ul li:hover ::after {
  /* left: 0; */
  transform: scale(1);
}
/* #mynav ul li a:hover{
  color: #fff !important;
} */

/* Nav part end */

/*================================================ Hom page css start======================= */
.animated {
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.bn_svg {
  background: #fff;
}

.home_second_section {
  background-color: #fff;
}

/* .left{
  height: 450px !important;
}
.left_inner_content{
  position: relative;
  top: 25%;
} */


.left_inner_content h5 {
  color: #484848;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* .left_inner_content h1{
  font-size: 65px;
  font-weight: bolder;
  color: #484848;
  letter-spacing: 1px;
} */

.left_inner_content p {
  font-size: 18px;
  color: #484848;
}

/* Digital part css start */
.header_text h2 {
  font-size: 30px;
  color: #484848;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.header_text p {
  font-size: 14px;
  color: #484848;
  padding: 0px 28px;
}
.digital_part {
  transition: all 0.5s linear;
  border-radius: 6px;
  padding: 8px 0px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
  -moz-box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
  box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
  /* border: 1px solid #d1d1d1; */
}
.digital_part:hover {
  transform: translateY(-10px);
  /* background-color: #003761; */
  background-color: #1B191A;
  /* background-image: linear-gradient(to left top, #012a27, #002730, #00223c, #001b43, #030e40); */
  transition: all 0.2s linear;
  border: none;
}
.digital_part:hover .digital_icon h3 {
  color: tomato;
}
.digital_icon {
  line-height: 85px;
  height: 90px;
  width: 90px;
  margin: auto;
  overflow: hidden;
  transition: 0.5s all;
  border-radius: 50%;
  /* animation: animate 4s linear infinite; */
}
.digital_icon h3 {
  line-height: 90px;
  font-size: 45px;
  color: #012534;
  transition: all 0.5s linear;
}

/* .digital_image img:hover{

} */

.digital_text_content {
  text-align: center;
  /* margin-top: 15px; */
}
.digital_part:hover .digital_text_content h4 {
  color: #fff;
}
.digital_text_content h4 {
  color: #012534;
  transition: all 0.5s linear;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.digital_part:hover .digital_text_content p {
  color: #fff;
}
.digital_part:hover .digital_text_content p span {
  color: tomato !important;
}
.digital_text_content p {
  color: #484848;
  font-size: 14px;
  transition: all 0.5s linear;
  padding: 0px 10px;
}
.choose_top_svg {
  background-color: #fff;
}

.choose_image {
  text-align: center;
  line-height: 90px;

  margin: auto;
  height: 90px;
  width: 90px;

  overflow: hidden;
}

.choose_inner {
  /* background-color: #fff; */
  padding: 15px 0px;
  border-radius: 6px;
  border: 1px solid #d1d1d1;
}
.choose_image h3 {
  font-size: 45px;
  color: #012534;
}

.choose_text {
  text-align: center;
}
.custom_choose_header h2 {
  color: #012534 !important;
}
.choose_text h4 {
  color: #484848;
  font-size: 20px;
  text-transform: uppercase;
}
.choose_text p {
  color: #484848;
  font-size: 14px;
  padding: 0px 50px;
}
/* ================================================service page css start=========================== */

/* .service_content{
  height: 100%;
}
.service_header{
  height: 100vh;
}

.service_header_content{
  position: relative;
  top: 15%;
} */
/* .service_header_content h1{
  font-size: 55px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ee0c81 ;
} */

.service_image {
  height: 100% !important;
  width: 100% !important;
  background-attachment: fixed !important;

  overflow: hidden;
}
.service_image img {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.service_demo {
  border-radius: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
  -moz-box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
  box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
}
.data_sciences {
  text-align: center;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s linear;
  padding: 15px 0px;
  -webkit-box-shadow: 0px 3px 31px 0px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 3px 31px 0px rgba(235, 235, 235, 1);
  box-shadow: 0px 3px 31px 0px rgba(235, 235, 235, 1);
}
.data_sciences:hover {
  background-color: #1B191A;
  transition-delay: 0.56s;
}
.data_sciences span {
  position: absolute;
  transition: all 0.5s linear;
}
.data_sciences:hover span:nth-child(1) {
  left: 0;
}
.data_sciences span:nth-child(1) {
  top: 0;
  transition: all 0.5s linear;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, tomato);
}

.data_sciences:hover span:nth-child(1) {
  left: 100%;
}
.data_sciences span:nth-child(3) {
  bottom: 0;
  transition: all 0.5s linear;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, tomato);
}
.data_sciences:hover span:nth-child(3) {
  right: 100%;
  transition-delay: 0.5s;
}
.data_sciences span:nth-child(2) {
  top: -100%;
  transition: all 0.5s linear;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, tomato);
}
.data_sciences:hover span:nth-child(2) {
  top: 100%;
  transition-delay: 0.25s;
}
.data_sciences span:nth-child(4) {
  bottom: -100%;
  transition: all 0.5s linear;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, tomato);
}
.data_sciences:hover span:nth-child(4) {
  bottom: 100%;
  transition-delay: 0.75s;
}
.data_sciences:hover .ds_icon h2 {
  color: #fff;
  transition-delay: 0.56s;
}
.data_sciences:hover p {
  color: #fff;
  transition-delay: 0.56s;
}
/* =========================================== */
.ds_icon h2 {
  /* color: #02668f; */
  color: #1B191A;
}

.service_demo_text h4 {
  color: #484848;
  text-transform: uppercase;
  font-size: 18px;
}

.service_demo_text p {
  color: #484848;
  font-size: 14px;
  padding: 0px 50px;
}

.service_role_header h4 {
  font-size: 16;
  color: #109ea0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.service_role_header p {
  font-size: 14px;
  color: #484848;
}

.service_role_content h4 {
  /* color: #109ea0; */
  color: tomato;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}

.service_role_content p {
  color: #484848;
  font-size: 14px;
  text-align: center;
  padding: 0px 35px;
}
.service_role_demo {
  position: relative;
  overflow: hidden;
  transition: all 0.5s linear;
  -webkit-box-shadow: 0px 3px 31px 0px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 3px 31px 0px rgba(235, 235, 235, 1);
  box-shadow: 0px 3px 31px 0px rgba(235, 235, 235, 1);
  padding: 10px 0px;
}
.service_role_demo:hover {
  background-color: #1B191A;
  transition-delay: 0.56s;
}
.service_role_demo span {
  position: absolute;
  transition: all 0.5s linear;
}
.service_role_demo:hover span:nth-child(1) {
  left: 0;
}
.service_role_demo span:nth-child(1) {
  top: 0;
  transition: all 0.5s linear;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, tomato);
}

.service_role_demo:hover span:nth-child(1) {
  left: 100%;
}
.service_role_demo span:nth-child(3) {
  bottom: 0;
  transition: all 0.5s linear;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, tomato);
}
.service_role_demo:hover span:nth-child(3) {
  right: 100%;
  transition-delay: 0.5s;
}
.service_role_demo span:nth-child(2) {
  top: -100%;
  transition: all 0.5s linear;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent,tomato);
}
.service_role_demo:hover span:nth-child(2) {
  top: 100%;
  transition-delay: 0.25s;
}
.service_role_demo span:nth-child(4) {
  bottom: -100%;
  transition: all 0.5s linear;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, tomato);
}
.service_role_demo:hover span:nth-child(4) {
  bottom: 100%;
  transition-delay: 0.75s;
}
.service_role_demo:hover .service_role_demo_image h2 {
  color: #fff;
  transition-delay: 0.56s;
}
.service_role_demo:hover .service_role_demo_text p {
  color: #fff !important;
  transition-delay: 0.56s;
}
/* ================================================ */

.service_role_demo_image {
  margin: auto;

  text-align: center;
}

.service_role_demo_image h2 {
  /* color: #02668f; */
  color: #1B191A;
  font-size: 30px;
}

.service_role_demo_text {
  text-align: center;
}

.service_role_demo_text p {
  text-transform: uppercase;
}

.data_header {
  padding-bottom: 50px;
}

.data_header h4 {
  /* color: #109ea0; */
  color: tomato;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.data_header p {
  font-size: 14px;
  color: #484848;
}
.data_demo {
  border-radius: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
  -moz-box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
  box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
}

.data_demo_image {
  position: relative;
  text-align: center;
  left: 50%;
  line-height: 85px;
  transform: translateX(-50%);
  height: 90px;
  width: 90px;
  bottom: 40px;
  border-radius: 50%;
  background-color: #012534;
}

.data_demo_image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.data_demo_text {
  text-align: center;
  position: relative;
  top: -25px;
}

.data_demo_text h4 {
  font-size: 18px;
  color: #484848;
  text-transform: uppercase;
}

.what_data_section {
  background-color: #f4f4f4f4;
}
.what_data_science {
  height: 400px;
  position: relative;
}

.what_data_science_content {
  position: relative;
  top: 20%;
  text-align: justify;
}

.what_data_science_content h2 {
  font-size: 35px;
  color: #ee0c81;
  text-transform: uppercase;
}

.what_data_science_content p {
  font-size: 14px;
  color: #484848;
}

.what_data_science_content h4 {
  font-size: 18px;
  color: #484848;
}
.what_data_science_content h4 > span {
  font-size: 18px !important;
  color: #fa0c4d;
  margin-right: 5px;
}
.data_science_role {
  height: 400px;
}

.data_science_role_content {
  position: relative;
  top: 20%;
  text-align: justify;
}

.data_science_role_content h2 {
  font-size: 35px;
  color: #ee0c81;
  text-transform: uppercase;
}
.data_science_role_content p {
  font-size: 14px;
  color: #484848;
}
.data_science_role_content h4 {
  font-size: 18px;
  color: #484848;
}

.data_science_role_content h4 > span {
  font-size: 18px !important;
  color: #fa0c4d;
  margin-right: 5px;
}

.backto-top {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #1B191A;
  color: tomato;
  line-height: 40px;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  display: none;
  z-index: 5;
}

/* ============================================== Team part css start================================== */
/* .team_bg{
  height: 100vh;
} */

.team {
  background-image: linear-gradient(
      167deg,
      rgba(0, 0, 0, 0.2) 45%,
      rgba(0, 0, 0, 0.7) 45%
    ),
    url(../src/components/images/sea.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 6px;
  position: relative;
  -webkit-box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
  -moz-box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
  box-shadow: 0px 0px 152px -21px rgba(227, 224, 227, 1);
}
.team_content {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.team_image {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 3px solid #fff;
}
.team_image img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  text-align: center;
  margin-top: 10px;
}
.name h4 {
  font-size: 18px;
  color: #fff;
}
.name p {
  font-size: 14px;
  color: #fff;
}
.team_social {
  text-align: center;
  padding-bottom: 15px;
}
.team_social ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}
.team_social ul li .fa-facebook-f{
  line-height: 38px !important;
}
.team_social ul li .fa-linkedin{
    line-height: 38px !important;
}
.team_social ul li .fa-twitter{
    line-height: 38px !important;
}
.tm_ins,
.tm_tw,
.tm_fb {
  height: 38px;
  width: 38px;
  font-size: 13px;
  line-height: 38px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #fff;
}
/* =============================================== price part css start========================= */
/* .price_section{
  height: 100vh;
} */
.price_banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) 45%,
      rgba(0, 0, 0, 0.6) 45%
    ),
    url(../src/components/images/ocean_price.jpg);
  height: 100vh !important;
  width: 100% !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}
.price_banner_text {
  text-align: center;
}
.price_banner_text h2 {
  color: #fff;
  font-weight: 700;
}
.digital_text_content .price_hover {
  color: #570052;
  font-weight: 700;
}
.digital_text_content .price_hover span {
  color: #570052;
  font-weight: 700;
  margin-left: 3px;
  transition: all 0.5s linear;
}
.digital_part:hover .price_hover span {
  margin-left: 10px;
}

.price_digital_header h2 {
  font-size: 30px;
  color: #484848;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.price_digital_header p {
  color: #484848 !important;
  font-size: 14px;
}

.price_digital_content {
  border-radius: 8px;
  padding: 30px 0px;
  height: 250px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.price_service_image {
  margin: auto;
  line-height: 80px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
}

.price_service_image img {
  height: 40px;
  width: 40px;
}

.price_digital_content_text {
  text-align: center;
  padding: 10px;
}

.price_digital_content_text h4 {
  text-transform: uppercase;
  color: #484848;
  font-size: 18px;
}
.price_digital_content_text p {
  font-size: 14px;
  color: #484848;
}
.price_role_header h2 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.price_role_header p {
  color: #484848;
  font-size: 14px;
}

.price_bg {
  background-color: #012534;
}
.price_svg {
  background-color: #012534;
}

/* .price_content{
  height: 100%;
}
.price_header{
  height: 450px;
}

.price_header_content{
  position: relative;
  top: 25%;
} */
/* .price_header_content h1{
  font-size: 65px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ee0c81 ;
} */

/* .price_image{
  height: 450px;
  width: 100%;
  overflow: hidden;

} */

/* .price_image img{
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
} */

.price_main_content {
  /* background-color: #fff; */
  border-radius: 20px;
  transition: 0.5s all;
  padding: 30px 0px;
  /* background-image: linear-gradient(
    to top,
    #012534,
    #003a50,
    #00506f,
    #02668f,
    #0b7eb0
  ); */
  background-color: #1B191A;
}

.price_left:hover .price_content_image {
  -webkit-box-shadow: 0px 0px 21px -6px rgba(184, 182, 184, 1);
  -moz-box-shadow: 0px 0px 21px -6px rgba(184, 182, 184, 1);
  box-shadow: 0px 0px 21px -6px rgba(184, 182, 184, 1);
}
.price_content_image {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #f1f1f1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.price_content_image img {
  padding-bottom: 15px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.price_basic_head h4 {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.price_text_content {
  padding-top: 15px;
}
.price_text_content h2 {
  font-size: 38px;
  font-weight: bolder;
  color: #ee0c81;
  padding-bottom: 10px;
}

.price_text_content h2 span {
  font-size: 18px !important;
  font-weight: 700 !important;
  color: #fff;
}

.price_text_content pre {
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 5px 0px;
}

.priceCommonBanner {
  height: 50vh;
  background-color: #385d77;
  /* background-image: linear-gradient(
    to left bottom,
    #e72bd7,
    #ba2db1,
    #902a8c,
    #682567,
    #441d44
  ); */
}
.priceCommonBannerInner {
  width: 100%;
  /* position: relative;
  top: 50%; */
}
.service_title h4 {
  color: #d84564;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 35px;
  position: relative;
}
/* .service_title h4::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -5px;
  height: 4px;
  width: 30%;
  background: #109ea0;
} */
.priceCommonBannerHeading h2 {
  color: #fff;
  font-weight: 800;
  font-size: 45px;
}
.priceCommonBannerImage {
  height: 400px;
  width: 450px;
  text-align: right;
  top: 0;
  position: relative;
  overflow: hidden;
}
.priceCommonBannerImage img {
  height: 100%;
  width: 100%;
}
/* ================================================ contact part css start====================== */
.contact_banner {
  height: 100vh;
}
.contact_left_inner_content {
  text-align: center;
  padding-bottom: 30px;
}

.contact_left_inner_content h2 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #ee0c81;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact_left {
  height: 450px !important;
  width: 100% !important;
  overflow: hidden;
}

.contact_left img {
  height: 100%;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.right_form {
  padding-bottom: 30px;
}

.custom_form {
  position: relative;
  top: 14%;
}
.form {
  /* position: relative; */
  /* top: 50%; */
  width: 100%;
  padding: 30px;
  /* border: 1px solid #cacaca; */
  -webkit-box-shadow: -1px 0px 15px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: -1px 0px 15px 0px rgba(219, 219, 219, 1);
  box-shadow: -1px 0px 15px 0px rgba(219, 219, 219, 1);
}

.form h2 {
  text-align: center !important;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  color: #6c6c6c;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.form h2::after {
  position: absolute;

  content: '';
  height: 2px;
  width: 30%;
  left: 35%;
  bottom: -8px;
  background-color: #c1c1c1;
}

.form_input {
  /* padding: 30px 10px !important; */
  height: 55px !important;
}
.form-control {
  font-size: 14px !important;
  overflow: hidden !important;
  background: transparent !important;
  border-radius: 8px !important;
  border: 1px solid #012534;
  outline: 0 !important;
}

.custom_button {
  border: transparent !important;
  color: #fff !important;
  background-image: linear-gradient(
    to top,
    #012534,
    #003a50,
    #00506f,
    #02668f,
    #0b7eb0
  );
  height: 45px !important;
  border-radius: 8px;
}

/* ==============================================Portfolio part start=========================== */
.portfolio_section {
  height: 100%;
  /* background-color: #ee0c81 ; */
}
.portfolio_main_svg {
  background-color: #012534;
}
.portfolio_content {
  height: 100%;
}
.portfolio_header h2 {
  font-size: 30px;
  color: #484848;
  position: relative;
  font-weight: 700;
}
.portfolio_header h2::after {
  position: absolute;
  bottom: -3px;
  content: '';
  left: 0;
  height: 3px;
  width: 10.5%;
  background: #003a50;
}
.port_details p {
  font-size: 14px;
  color: #484848;
  text-align: justify;
}
#video {
  position: relative;
  height: 400px !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
}

#video::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);

  z-index: 1;
}
.video-icon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.video-icon a {
  font-size: 60px;
  color: #ee0c81;
  transition: 0.5s;
}

.video-icon a:hover {
  color: #f00e0e;
}
.portfolio_header_content {
  position: relative;
  top: 25%;
}
.portfolio_header_content h1 {
  font-size: 65px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ee0c81;
}

.portfolio_image {
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.portfolio_image img {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.mfp-iframe-scaler {
  height: 100% !important;
  position: fixed;
  overflow: hidden;
  top: 50%;

  background-color: rgba(0, 0, 0, 0.7);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  width: 100% !important;
}
.mfp-close {
  position: absolute !important;

  right: 8% !important;
  top: 15%;
  z-index: 1000;
  overflow: hidden !important;
  font-size: 45px !important;
  font-weight: 700 !important;
  height: 40px !important;
  line-height: 40px !important;
  border-radius: 2px !important;
  border: transparent !important;
  background: transparent !important;
  color: #ee0c81 !important;
  cursor: pointer !important;
}
iframe {
  height: 70% !important;
  width: 40% !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 60%;
}
.mfp-preloader {
  display: none !important;
}

.video-popup {
  position: fixed;
  height: 500px;
  width: 100%;
  z-index: 1000;
}
.recent_work {
  border-radius: 4px;

  padding: 10px;
  -webkit-box-shadow: 0px 3px 31px 0px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 3px 31px 0px rgba(235, 235, 235, 1);
  box-shadow: 0px 3px 31px 0px rgba(235, 235, 235, 1);
}
.other_portfolio h5 {
  font-size: 17px;
}
.other_portfolio .other_services {
  color: tomato !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
}
.recent_work_content h4 {
  color: #686868;
  font-size: 17px;
}
.recent_work_content h4 span {
  color: tomato !important;
}

.filtering ul li {
  /* color: #000 !important; */
  display: inline-block !important;
  /* margin: 3px 30px !important; */
}

.project_image {
  position: relative;
  border-radius: 2px;
  height: 280px;
  overflow: hidden !important;
}
.project_image img {
  transition: all 0.4s linear;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden !important;
}
.project_image:hover .overlay {
  bottom: 0;
  background-color: rgba(0, 58, 76, 0.8);
}
.project_image:hover img {
  transform: scale(1.2);
}
.overlay {
  position: absolute;
  transition: all 0.4s linear;
  left: 0;
  bottom: -20%;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2px;
  height: 55px;
  line-height: 55px;
  width: 100%;
  background-color: transparent;
}

.overlay .click {
  line-height: 55px;
  font-size: 25px;
  color: #fff;
}
.overlay_top {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  transition: all 0.5s linear;
  background: rgba(0, 0, 0, 0.5);
}
.project_image:hover .overlay_top {
  top: -100%;
  background: transparent;
}
.service_name {
  width: 100%;
  text-align: center;
}
.service_name h4 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.filter_bg {
  border-radius: 30px;
  height: 45px;
  background-color: #f6f6f6 !important;
  line-height: 45px;
}
.filter_bg li {
  height: 45px;
  line-height: 45px;
  padding: 0px 8px;
  width: 150px;
  display: inline-block;
  cursor: pointer;
}
.control-active {
  /* border-bottom: 1px SOLID #012534 !important; */
  color: tomato !important;
}

.control {
  overflow: hidden !important;
  cursor: pointer;
  font-size: 14px;
  background: transparent;
  color: #012534;
  font-weight: 400;
}

/* .control:hover {
  background: #012534;
  color: #012534;
} */

/* ===============================================Blog Post css start======================= */
/*
.blog_left_post{
  position: fixed;
} */
.blog_banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 45%,
      rgba(0, 0, 0, 0.5) 45%
    ),
    url(./components/images/ocean_price.jpg);
  height: 35vh;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}
.blog_banner_content {
  text-align: center;
}
.blog_banner_content h2 {
  color: #fff;
}
.author {
  background-color: #f1f1f1;
  padding: 20px 0px;
  border-radius: 4px;
}
.author p {
  font-size: 14px;
  font-weight: 700;
  margin-top: -8px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #898989;
}
.author_image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}

.author_image img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
}

.author_name h3 {
  color: #484848;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
.blog_header h2 {
  text-transform: uppercase;
  position: relative;
  color: #484848;
  font-weight: 700;
}
.blog_banner_content h2::after {
  position: absolute;
  content: '';
  left: 34%;
  bottom: 0;
  height: 3px;
  width: 32%;
  background: #fff;
}
.cardHeader span {
  text-transform: uppercase;
  position: relative;
  font-size: 14px;
  color: #484848;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cardHeader span::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #484848;
}
.blog_post {
  padding: 5px 8px;
  text-align: justify;
}
.blog_left_image {
  height: 300px;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s linear;
  overflow: hidden;
  border-radius: 2px 2px 0px 0px;
}
.blog_left_post {
  border-radius: 2px;
  text-align: justify;
  -webkit-box-shadow: -1px 0px 15px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: -1px 0px 15px 0px rgba(219, 219, 219, 1);
  box-shadow: -1px 0px 15px 0px rgba(219, 219, 219, 1);
}
.blog_left_post:hover .blog_left_image img {
  transform: scale(1.05);
}
.blog_left_image img {
  transition: 0.5s all;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0px 0px;
}

.blog_right_image {
  /* position: absolute; */
  height: 50px !important;
  width: 100px !important;
}

.blog_right_image img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.sidebar_content_main {
  border-radius: 8px;
}
.blog_left_content h3 {
  color: rgb(224, 14, 84);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}
.blog_left_content span {
  color: #949494;
  font-size: 10px;
}

.blog_right_content span {
  color: #949494;
  font-size: 12px;
}

.blog_right_content h3 {
  font-size: 18px;
  color: #484848;
  text-transform: uppercase;
}
.blog_left_content {
  padding: 10px 15px;
}
.blog_left_content,
.blog_right_content p {
  font-size: 14px;
  color: #484848;
}

/* ================================================ Footer part start ======================== */
.footer_section {
  /* background-image: linear-gradient(
    to top,
    #012534,
    #003a50,
    #00506f,
    #02668f,
    #0b7eb0
  ); */

  background-color: #012534;
  /* height: 200px; */
  padding: 60px 0px;
  width: 100%;
  overflow: hidden;
}

.footer {
  text-align: center;
  bottom: 0;
}

.footer h4 {
  color: #fff;
  letter-spacing: 1px;
}

.footer h4 span {
  color: #ee0c81 !important;
  padding-right: 10px;
}
.footer a {
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  margin: 3px;
  color: linear-gradient(to top, #012534, #003a50, #00506f, #02668f, #0b7eb0);
  font-size: 14px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}
.recent_post {
  height: 320px;
  overflow-y: scroll;
}
.service_details_image {
  height: 350px;
  width: 100%;
}
.service_details_image img {
  height: 100%;
  width: 100%;
}
.service_details_image .img-fluid{
  mobile_height:50%;
  mobile_width: 50%
}
.service_details_content h4 {
  color: #484848;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.service_details_content p {
  color: #484848;
  font-size: 14px;
}

/* ==============================================Responsive css start=========================== */
@media (max-width: 575px) {
  .priceCommonBanner {
    height: 60vh;
  }

  .priceCommonBannerHeading h2 {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
  }
  .service_title h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 22px;
    position: relative;
  }
  .priceCommonBannerImage {
    height: 100%;
    width: 100%;
  }
  p {
    font-size: 11px !important;
  }
  .mobile_height {
    height: 100vh;
  }
  .all-button a {
    height: 37px;
    line-height: 34px;
    width: 150px;
  }
  .project_image {
    height: 170px;
  }
  .service_name h4 {
    font-size: 14px;
  }
  .video-icon {
    left: 47%;
  }
  .form_input {
    /* padding: 30px 10px !important; */
    height: 45px !important;
  }
  .contact_banner {
    height:20%;
  }
  .contact_left img{
    height: 250px;
    padding-bottom: -50px;
  }
  .header_text h2 {
    font-size: 22px;
  }
  .digital_text_content h4 {
    font-size: 11px;
  }
  .digital_text_content p{
    display: none;
  }
  .digital_text_content .price_hover{
    display: block !important;
  }
  .filter_bg {
    padding: 0 !important;
    height: 100%;
  }
  .filter_bg li {
    height: 25px;
    line-height: 37px;
    padding: 0px 8px;
    width: 54px;
    display: inline-block;
    cursor: pointer;
  }
  .overlay {
    bottom: -30%;
  }
  .control span {
    display: none !important;
  }
  .right_form {
    padding-bottom: 20px;
  }

  p {
    font-size: 12px !important;
  }
  /* .custom_nav {
    position: fixed;
  } */
  .all_header h1 {
    font-size: 35px !important;
    letter-spacing: 1px;
  }
  #mynav ul li a {
    padding: 15px 10px !important;
  }
  #mynav ul li {
    padding: 5px 0px;
  }
  #mynav ul li ::after {
    position: absolute;
    content: '';
    transition: 0.3s all;
    left: -100%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #012534;
    z-index: -1;
    display: none;
  }
  .left {
    padding: 0px 10px;
    height: 100% !important;
    text-align: center !important;
  }
  .banner_bg {
    height: 100%;
  }
  .left_inner_content p {
    display: none;
  }
  .service_header {
    height: 100%;
  }
  .service_header_content {
    text-align: center;
    top: 8%;
  }
  .service_header_content h1 {
    font-size: 28px !important;
    font-weight: bolder;
    color: #484848;
    letter-spacing: 1px;
  }

  .what_data_science_content {
    position: unset;
  }

  .what_data_science_content h2 {
    font-size: 25px;
  }

  .data_science_role_content {
    position: unset;
    top: 0;
    text-align: justify;
  }

  .data_science_role_content h2 {
    font-size: 25px;
  }
  .service_role_content {
    text-align: center;
  }
  .mobile_height {
    height: 100%;
  }
  .price_header {
    text-align: center !important;
  }
  .left_inner_content h1 {
    font-size: 28px !important;
    font-weight: bolder;
    color: #484848;
    letter-spacing: 1px;
  }
  .portfolio_header h2 {
    font-size: 22px;
  }
  .left_inner_content h5 {
    font-size: 14px;
  }

  .left_inner_content p {
    font-size: 12px;
  }

  .all-button a {
    height: 45px;
    line-height: 45px;
    width: 150px;
  }
  .custom_form {
    position: unset;
    top: 14%;
  }
  .digital_main {
    margin: 5px 0px;
  }
  .service_bg img {
    width: 100% !important;
  }
  .service_bg_inner_content {
    position: unset;
  }
  .service_banner_text h1 {
    font-size: 35px;
    font-weight: bolder;
    color: #484848;
    letter-spacing: 1px;
  }
  .service_banner_text p {
    color: #484848;
    font-size: 14px;
    padding-top: 0;
  }

  .digital_m a {
    border-radius: 30px 0px 0px 30px !important;
    width: 80px;
  }

  .data_s a {
    border-radius: 0px 30px 30px 0px !important;
    width: 80px;
  }
  .blog_left_image {
    height: 200px;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }
  .blog_right_image {
    /* position: absolute; */
    height: 90px !important;
    width: 100% !important;
  }
  .price_digital_header h2 {
    font-size: 22px;
  }
  .blog_banner_content h2 {
  font-size: 25px;
}
.blog_banner_content h2::after {
  left: 23%;

  height: 3px;
  width: 54%;
}
  .price_role_header h2 {
    font-size: 22px;
  }
  .author {
    display: none;
  }
  .recent_post {
    height: 290px;
    overflow-y: scroll;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .right_form {
    padding-bottom: 20px;
  }

  .custom_nav {
    position: fixed;
  }
  .all_header {
    text-align: center;
  }
  .price_header {
    height: 100%;
  }
  .price_header_content {
    position: relative;
    padding: 35px;
  }
  .service_role_content {
    text-align: center;
  }
  .service_role_content p {
    padding: 0px 100px !important;
  }

  .portfolio_header {
    height: 100%;
    padding-bottom: 20px;
  }
  .blog_right_image {
    height: 200px !important;
    width: 100% !important;
  }
  p {
    font-size: 10px;
  }

  h4 {
    font-size: 15px;
  }
  .left {
    padding: 0px 10px;
    height: 100% !important;
    text-align: center !important;
  }
  .left_inner_content p {
    font-size: 15px !important;
    padding: 0px 100px !important;
  }

  .digital_text_content p {
    font-size: 10px;
    /* padding: 0px 80px; */
  }
  .header_text p {
    font-size: 10px;
    /* padding: 0px 80px; */
  }
  .choose_text p {
    font-size: 10px;
    /* padding: 0px 100px !important; */
  }
  .service_header {
    height: 100%;
  }
  .digital_text_content h4 {
    font-size: 15px;
  }
  .digital_image {
    height: 120px;
    width: 120px;
  }
  .digital_image img {
    top: 33%;
    left: 34%;
    height: 40px;
    width: 40px;
  }
  .all-button .dm {
    height: 35px !important;
    width: 130px !important;
    line-height: 17px !important;
    border-radius: 30px !important;
    font-size: 10px !important;
  }

  .choose_text h4 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
  }
  .choose_text p {
    color: #f1f1f1f1;
    font-size: 10px;
    padding: 5px 10px;
  }

  .service_demo_text p {
    padding: 0px 15px;
  }
}

/* slider for team cards........ */
.rec-arrow-left {
  background-color: #1B191A !important;
  color: tomato !important;
  outline: none !important;
  box-shadow: none !important;
}
.rec-arrow-right {
  background-color: #1B191A !important;
  color: tomato !important;
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 576px) {
  .rec-arrow-left {
    display: none !important;
  }
  .rec-arrow-right {
    display: none !important;
  }
  .rec-dot {
   display: block !important;
 }
}
@media (max-width: 768px) {
  .rec-arrow-left {
    display: none !important;
  }
  .rec-arrow-right {
    display: none !important;
  }
}
